body {
  background: #F03F37;
}
#logo {
  margin-top: 7px;
}
p{
  padding: 1em;
}
.article .lead {
  margin-bottom: 0;
}
.article .lead p {
  margin-bottom: .5em;
  padding-bottom: .5em;
  padding-top: .5em;
}
p.lead {
  margin-bottom: 0;
}
#page {
  background: #fff;
  box-shadow: 0px 0px 30px #C2332C;
  margin-top: 2em;
  margin-bottom: 2em;
}
.navbar {
  margin-bottom: 0;
}
.navbar-inner {
  border: none;
  background: #000;
  border-radius: 0;
}
.navbar-inner .brand, .navbar-inner .nav li a, .navbar-inner .nav li a:hover, #footer .nav a {
  color: #fff;
  text-shadow: none;
  font-weight: bold;
  font-size: .85em;
}
#footer a.pull-right {
  color: hsl(0, 100%, 100%);
  padding-top: 1em;
  font-size: .8em;
  font-weight: bold;
}
.second .navbar-inner .brand, .second .navbar-inner .nav li a, .second .navbar-inner .nav li a:hover {
  color: #000;
}
.second.navbar .navbar-inner{
  background: #f0f0f0;
  border-top: 2px solid #cdcdcd;
  position: relative;
  z-index: 3;
  box-shadow: none;
}
body .second .container {
  width: 300px;
  padding-left: 2em;
  margin-top: 0;
}
.navbar-inner .nav li.active a {
  background: #F03F37;
  box-shadow: none;
  color: #fff;
  padding: .25em 1em;
  margin-top: .87em;
  border-radius: 5px;
}

.center {
  text-align: center;
}
span.brand.tagline {
  font-size: 1.25em;
}
body .page-header {
  background: #f0f0f0;
  border-bottom: 2px solid #cdcdcd;
  border-top: none;
  margin: 0;
  padding: 1em;
  position: relative;
  height: 18em;
}
.page-header p {
  max-width: 75%;
  margin: 1em auto;
}
.page-header .btn-primary, .page-header .btn-primary:hover, .page-header .btn-primary:active, .page-header .btn-primary.active, .page-header .btn-primary.disabled, .page-header .btn-primary[disabled], .navbar .navbar-content .nav>.active>a:hover {
  background-image: none;
  background-color: #F03F37;
  box-shadow: none;
  color: #fff;
}
.row .offset25 {
  margin-left: 15%;
}

.caption{
  display: block;
  margin-top: -2em;
  margin-bottom: 15px;
  color: #fff;
  font-family: sans-serif;
  font-size: 1.25em;
  position: relative;
}
.thumb {
  background: #000;
}
.thumb:hover {
  text-decoration: none;
}
.thumb>img {
  opacity: .75;
}
.thumb:hover img {
  opacity: 1;
}
.article p {
  padding-left: 0;
}

.tab {
  display: none;
  padding-top: 76px;
  margin-top: -76px;
  position: absolute;
}
.tab:target {
  display: block;
} 
img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
}